@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');


/*
* Переменные
*/

// Цвета
$color--main-bg: #1A1A1A;
$color--regular: #A6A6A6;




/*
* Обнуление
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

body{
    background-color: $color--main-bg;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: $color--regular;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,
h6 {
	font-weight:normal;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  flex: 1 0 auto;
}

.footer{
  flex: 0 1 auto;
}

/*
* Header
*/



.header {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  mix-blend-mode: normal;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 91px;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}
.header__menu-item {
  margin-right: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  color: white;
  transition: all .3s;
}
.header__menu-item:last-child{
  margin-right: 0;
}
.header__menu-link {
  transition: all .5s ease;
}
.header__menu-link:hover{
  color: #34C759;
  opacity: .7;
}
