@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');


/*
* Переменные
*/

// Цвета
$color--main-bg: #1A1A1A;
$color--regular: #A6A6A6;
$color--btn-bg: #34C759;




/*
* Обнуление
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

body{
    background-color: $color--main-bg;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: $color--regular;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,
h6 {
	font-weight:normal;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  flex: 1 0 auto;
}

.footer{
  flex: 0 1 auto;
}




.btn {
  font-family: 'Helvetica Neue', sans-serif;
  cursor: pointer;
  display: inline-block;
  border-radius: 43px;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.2em;
  padding: 25px 57px;
  transition: all .3s;
  background: #262626;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid #303030;
}
.btn:hover{
  background: $color--btn-bg;
  color: #1A1A1A;
}
.btn--green {
  background: $color--btn-bg;
  border: 0;
  color: #1A1A1A;
}
.btn--green:hover {
  opacity: .7;
}


/*
* Header
*/



.header {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  mix-blend-mode: normal;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 91px;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}
.header__menu-item {
  margin-right: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  color: white;
  transition: all .3s;
}
.header__menu-item:last-child{
  margin-right: 0;
}
.header__menu-link {
  transition: all .5s ease;
}
.header__menu-link:hover{
  color: #34C759;
  opacity: .7;
}


/*
* Food
*/



.food {
  z-index: 2;
  min-height: 100vh;
  background: url(../public/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.food__container {
  height: 100%;
  text-align: center;


}

.food__title {
  font-size: 72px;
  line-height: 116%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.food__title span{
  font-weight: bold;
}

.food__text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
  max-width: 590px;
  margin-bottom: 40px;
}
.food__btn {
  margin-bottom: 70px;
}





