@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');


/*
* Переменные
*/

// Цвета
$color--main-bg: #1A1A1A;
$color--regular: #A6A6A6;
$color--btn-bg: #34C759;




/*
* Обнуление
*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

body{
    background-color: $color--main-bg;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: $color--regular;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,
h6 {
	font-weight:normal;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  flex: 1 0 auto;
}

.footer{
  flex: 0 1 auto;
}


.input{
  background-color: transparent;
  outline: none;
  padding: 15px 25px;
  color: white;
  border: 0;
  font-size: 18px;
  border-bottom: 1px solid $color--regular;
}

.line--green{
  background: #34C759;
  height: 2px;
  width: 60px;
  transition: all 1s;
}

.title::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  font-size: 36px;
  line-height: 250%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
}
.title {
  position: relative;
  font-weight: 900;
  font-size: 100px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2em;
  color: #303030;
}



.btn {
  font-family: 'Helvetica Neue', sans-serif;
  cursor: pointer;
  display: inline-block;
  border-radius: 43px;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.2em;
  padding: 25px 57px;
  transition: all .3s;
  background: #262626;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid #303030;
}
.btn:hover{
  background: $color--btn-bg;
  color: #1A1A1A;
}
.btn--green {
  background: $color--btn-bg;
  border: 0;
  color: #1A1A1A;
}
.btn--green:hover {
  opacity: .7;

}



/*
* Header
*/



.header {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  mix-blend-mode: normal;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 91px;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}
.header__menu-item {
  margin-right: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  color: white;
  transition: all .3s;
}
.header__menu-item:last-child{
  margin-right: 0;
}
.active {
  color: #34C759;
  transition: all .5s ease;
}
.active:hover{
  color: #34C759;
  opacity: .7;
}


/*
* Food
*/



.food {
  z-index: 2;
  min-height: 100vh;
  background: url(../public/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.food__container {
  height: 100%;
  text-align: center;


}

.food__title {
  font-size: 72px;
  line-height: 116%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.food__title span{
  font-weight: bold;
}

.food__text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
  max-width: 590px;
  margin-bottom: 40px;
}
.food__btn {
  margin-bottom: 70px;
}





/*
* Dishes
*/


.dishes {
  margin-bottom: 90px;
}
.dishes__container {
  padding-top: 120px;
}
.container {
}
.dishes__title{
  margin-bottom: 30px;
}
.dishes__line{
  margin: 0 auto;
  margin-bottom: 60px;
}
.dishes__title::after {
  content: 'All your recipes';
}

.dishes__cards {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-columns: repeat(3, 300px);
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: center;
  gap: 30px;
}
.dishes__card {
  max-width: 100%;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all .3s;
}
.dishes__card:hover .dishes__card-title{
  cursor: pointer;
}
.dishes__card:hover{

}
.dishes__card-image {
  border-radius: 8px 8px 0 0;
  width: 100%;

  height: 260px;

  overflow: hidden; 
}
.dishes__card-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
  display: block; 
  transition: all .5s ease;
}
.dishes__card-img:hover{
  transform: scale(1.2);
}
.dishes__main{
  flex: 1 0 auto;
}
.dishes__card-main {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.dishes__main-text{
  display: flex;
  flex-direction: column;
}
.dishes__card-title {
  font-size: 32px;
  line-height: 30px;
  color: #D9D9D9;
  margin-bottom: 6px;
  max-width: 100%;
  overflow: hidden;
}
.dishes__card-desk {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #A4A8B2;
  margin-bottom: 20px;
}
.dishes__card-text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: #85878C;
  margin-bottom: 30px;
}


.dishes__rating {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dishes__rating-stars {
  position: relative;
  font-size: 20px;
  display: inline-block;
}
.dishes__rating-stars::before{
  content: "★★★★★";
  display: block;

}
.dishes__rating-items {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.dishes__rating-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
}
.dishes__rating-label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #4D4D4D;
}
.dishes__rating-label::before{
  content: "★";
  display: block;
  transition: color .3s ease 0;
}

.dishes__rating-item:checked,
.dishes__rating-item:checked ~ .dishes__rating-label{
  color: #F9AD3D;
}


.dishes__rating-label:hover,
.dishes__rating-label:hover ~ .dishes__rating-label,
.dishes__rating-label:checked ~ .dishes__rating-label:hover{
  color: #F9AD3D;
}


.dishes__rating-value {
}
.dishes__card-btn {
  font-size: 10px;

  border-radius: 30px;
  padding: 16px 32px;
}
.btn {
  
}


/*
* Dishes
*/


.create {
  margin-bottom: 90px;
}
.create__container {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create__title{
  margin-bottom: 30px;
}
.create__line{
  margin: 0 auto;
  margin-bottom: 60px;
}
.create__title::after {
  content: 'New recipe';
}

.create__form{
  display: flex;
  flex-direction: column;
  min-width: 400px;
  gap: 45px;
}